.UserCard {
    padding: 15px;
}
  
.UserCard__image {
    height: 40px;
    width: 40px;
    border-radius: 90px;
    margin-top: 5px;
}

.UserCard__title {
    font-size: 20px;
}

.UserCard__description {
    font-size: 13px;
}